extends layout

block content
  h1= title
  p Welcome to #{title}
  #Link 
    a(href="/new")
      | add new  message
  for message in messages 
    .messageCard
      p.user= message.user 
      p= message.text 
      p.time= message.added
